.category {
  height: 300px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.category img {
  width: 95%;
  object-fit: contain;
  max-height: 230px;
  padding: 0px 10px;
}
.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.category h2,
.category p {
  padding: 5px;
  margin-left: 15px;
}

.category p {
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 132, 209);
  cursor: pointer;
}

.category p:hover {
  color: #c7511f;
}

.category_container {
  position: relative;
  /* margin-top: -10%; */
  margin-top: -170px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  place-items: center;
}
